*{
    box-sizing: border-box;
}
body{
    margin: 0; min-height: 100vh; background-image: linear-gradient(45deg, rgba(50,50,150, 0.3), rgba(30,40,150,0.6));
}

main{
    margin-top: 10%; margin-bottom: 10%; padding: 15px;
}
.game-section{
    max-width: 800px; background-color: #eee; margin: auto; padding: 25px 0 40px; border-radius: 10px; text-align: center; font-family: Arial, Helvetica, sans-serif; box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.game-name{
    font-size: 2rem; margin: 0 auto 10px; font-family: Geneva, Tahoma, sans-serif; color: rgba(0,0,255,0.8);
}

/* Game inner */
.game-inner{
    margin: 40px auto 30px; display: flex; flex-wrap: wrap;
}
.game-inner > div{
    padding: 35px 0 15px;
}
.game-inner-left{
    flex-basis: 55%;
}
.game-display{
    width: 180px; height: auto; border-radius: 10px; margin-top: 10px; transition: all 0.3s;
}
#current-score{
    margin: 35px auto auto; font-size: 1.2rem; color: gray;
}
.g-d-small{
    transform: scale(0.7) rotate(360deg);
}
.blur-cont{
    filter: blur(5px);
}


/* Game inner Right */
.game-inner-right{
    flex-basis: 45%; border-left: 1px solid gray;
}
.circle-outer{
    width: 110px; height: 110px; border: 1px solid gray; border-radius: 50%; padding-top: 10px; margin: auto; background-image: conic-gradient(rgba(0,0,255, 0.75) 0deg, #eee 0deg); box-shadow: 0 0 5px gray;
}
.circle-inner{
    width: 88px; height: 88px; border: 1px solid gray; border-radius: 50%; margin: auto; background-color: whitesmoke; box-shadow: 0 0 5px gray inset;
}
#target{
    margin-top: 22px;
}
.game-inner-right span{
    display: block; margin-top: 6px; font-weight: 600; font-size: 1.1rem;
}

/* Article : Chances */
.game-chances{
    margin-bottom: 12px;
}
.game-chances > div{
    width: 25px; height: 25px; background-color: rgba(0,255,0,0.45); display: inline-block; border-radius: 50%; margin: 3px 4px; border: 1px solid gray;
}
.hide-out{
    visibility: hidden;
}


#dice-btn{
    padding: 10px 20px; font-size: 1rem; border-radius: 10px; border: 1px solid gray; transition: all 0.3s;
}
#dice-btn:hover{
    background-color: blue; color: white; cursor: pointer;
}


/* Message box */
#messageBox{
    width: 350px; margin: auto; background-color: rgb(196, 39, 102); border-radius: 10px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; padding: 20px 20px 30px; color: white; display: none;
}
#messageBox > h1{
    font-size: 2rem;
}
#mB-result{
    font-size: 22px; margin: 8px auto; color: yellow;
}
#replay-btn{
    margin-top: 15px; padding: 10px 20px; border: none; border-radius: 10px; font-size: 16px;
}
#replay-btn:hover{
    background-color: rgb(102, 39, 151); color: #eee; cursor: pointer;
}
.blur{
    filter: blur(5px); pointer-events: none;
}

@media screen and (max-width: 580px){
    .game-display{
        width: 155px;
    }
}
@media screen and (max-width: 374px) {
    .game-display{
        width: 140px;
    }
}