*{
    box-sizing: border-box;
}
body{
    margin: 0; min-height: 100vh; background-image: linear-gradient(45deg, rgba(0,0,255,0.5), rgba(0,0,255,0.9));
}

main{
    margin-top: 10%; margin-bottom: 10%; padding: 15px;
}
.game-section{
    max-width: 800px; background-color: #eee; margin: auto; padding: 40px 10px; border-radius: 10px; text-align: center;
}
.game-name{
    font-size: 2.3rem;
}

.game-inner{
    margin: 40px auto;
}
.game-inner > div{
    width: 49%; display: inline-block;
}
.game-inner-left{
    border-right: 1px solid black; padding: 60px 0;
}
.game-display{
    width: 180px; height: auto; border-radius: 10px;
}


/* Game inner Right */
.circle-outer{
    width: 110px; height: 110px; border: 1px solid black; border-radius: 50%; padding-top: 10px; margin: auto;
}
.circle-inner{
    width: 88px; height: 88px; border: 1px solid black; border-radius: 50%; margin: auto;
}
#target{
    margin-top: 22px;
}
.game-inner-right span{
    display: block; margin-top: 6px;
}


#dice-btn{
    padding: 10px 20px; font-size: 1rem; border-radius: 10px; border: 1px solid gray; transition: all 0.3s;
}
#dice-btn:hover{
    background-color: blue; color: white;
}


@media screen and (max-width: 580px){
    .game-inner-left{
        width: 55% !important;
    }
    .game-inner-right{
        width: 43% !important;
    }
    .game-display{
        width: 160px;
    }
}
@media screen and (max-width: 374px) {
    .game-display{
        width: 140px;
    }
}